*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
}

.app {
  background-color: #141414;
}

h2 {
  font-weight: 700;
  color: white;
}
