.banner__contents {
  padding-top: 150px;
  padding-left: 30px;
}

.banner__title,
.banner__overview {
  color: white;
}

.banner__title {
  font-size: 3rem;
  font-weight: 800;
  padding-bottom: 0.3rem;
}

.banner__btns {
  margin-bottom: 10px;
}

.banner__button {
  cursor: pointer;
  color: white;
  outline: none;
  border: none;
  font-weight: 700;
  border-radius: 0.2vw;
  padding: 0.5rem 2rem;
  margin-right: 1rem;
  background-color: rgba(51, 51, 51, 0.5);

  transition: all 200ms ease-in-out;
}

.banner__button:hover {
  transform: scale(1.05);
  color: black;
  background-color: rgba(250, 250, 250, 1);
}

.banner__overview {
  width: 40rem;
  max-width: 360px;
  height: 80px;

  line-height: 1.3;
  padding-top: 1rem;
  font-size: 0.9rem;
}

.banner--fadeBottom {
  height: 7.4rem;
  background: linear-gradient(
    180deg,
    transparent,
    rgba(37, 37, 37, 0.61),
    #111
  );
}
