.nav {
  z-index: 1;

  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  justify-content: space-between;

  width: 100%;
  padding: 20px;

  transition: all 200ms ease-in-out;
}

.nav__bgBlack {
  background-color: #141414;
}

.nav__logo {
  width: 100px;
  object-fit: contain;
}

.nav__avatar {
  width: 40px;
  object-fit: contain;
}
