.row {
  margin-left: 20px;
}

.row__posters::-webkit-scrollbar {
  display: none;
}

.row__posters {
  display: flex;

  overflow-y: hidden;
  overflow-x: scroll;

  padding: 20px;
}

.row__poster {
  width: 100%;
  max-height: 100px;
  margin-right: 10px;

  object-fit: contain;

  transition: transform 200ms ease-in-out;
}

.row__poster:hover {
  transform: scale(1.06);
}

.row__posterLarge {
  max-height: 250px;
}

.row__posterLarge:hover {
  transform: scale(1.09);
}
